<!DOCTYPE html>
<html>
<head>
  <title>blogsapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/blogs/" class="brand-logo">blogsapp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
        <li><a href="/blogs/new">blogを書く</a></li>
        <% else %>
        <li><a href="http://localhost:3000/users/sign_in">ログイン</a></li>
        <li><a href="/users/sign_up">新規登録</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
<%= yield %>
        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            </div>
          </div>
        </footer>

</body>
</html>
